/* Asegurar que la página ocupa toda la pantalla */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
}

/* Contenedor principal */
.page-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
}

/* Fondo de estrellas */
.background-stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* Botón con efecto de brillo */
.glowing-button {
  position: absolute;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #001F3F;
  border: 2px solid #0056b3;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  z-index: 1;
}

.glowing-button2 {
  position: fixed; /* Para posicionarlo en la pantalla de forma fija */
  bottom: 30px; /* Asegura que esté cerca de la parte inferior de la pantalla */
  left: 50%; /* Centrado horizontal */
  transform: translateX(-50%); /* Ajuste para centrar perfectamente */
  padding: 30px 60px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #001F3F;
  border: 2px solid #0056b3;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  z-index: 1;
}

/* Efecto de brillo en el botón */
.glowing-button:hover {
  box-shadow: 0 0 20px #0056b3, 0 0 40px #004488;
  transform: scale(1.1);
}


/* Contenedor de flores en la parte inferior */
.background-flowers {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px; /* Ajustado al tamaño del canvas */
  z-index: 1;
}
